scratch/updated_solarrv_wf.json
{"name":"SolarRV Engine v4 - DEFINITIVE","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"id":"14d2d19b-3d02-4f45-8b9b-66792c7dc175","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-1888,352]},{"parameters":{"url":"https://www.reddit.com/r/VanLife+vandwellers+SolarDIY+overlanding/hot.json?limit=25","options":{}},"id":"80421bb4-148e-4a48-a16a-0c6752ba4995","name":"Get Reddit Data","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-1696,352]},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"mode":"id","value":"TpOOtLzfYKrCLPKW"},"returnAll":true},"id":"a87d0c07-fad2-4e8d-b73a-f8561ee76982","name":"Get History","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1488,496]},{"parameters":{"jsCode":"const redditPosts = $node[\"Get Reddit Data\"].json.data.children || [];\nconst history = $node[\"Get History\"].json || [];\nconst historyArray = Array.isArray(history) ? history : [history];\nconst historyIds = new Set(historyArray.map(row => row.reddit_id).filter(id => !!id));\n\nconst filtered = redditPosts.filter(post => !historyIds.has(post.data.id));\nreturn { posts: filtered.map(p => ({ id: p.data.id, title: p.data.title, text: p.data.selftext })) };"},"id":"be54ebe2-68cc-490a-b8be-61c185b8d7ef","name":"Filter New Posts","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1296,352]},{"parameters":{"resource":"chat","prompt":{"messages":[{"content":"=Analyze the following Reddit posts and choose EXACTLY ONE, the most suitable for a high-quality technical article or product review.\nIMPORTANT: Everything must be processed and returned in ENGLISH.\n\nRespond ONLY in JSON with this format:\n{ \n  \"decision\": \"NEW_ARTICLE\" | \"NEW_REVIEW\" | \"NONE\", \n  \"title\": \"SEO Title in English\", \n  \"excerpt\": \"Summary in English\", \n  \"slug\": \"url-slug-in-english\", \n  \"category\": \"Articles\" | \"Reviews\",\n  \"reddit_id\": \"CHOSEN_REDDIT_ID\" \n}\n\nContent:\n{{ $json.posts.map(p => \"[\" + p.id + \"] \" + p.title + \" - \" + p.text).join('\\n---') }}"}]},"options":{},"requestOptions":{}},"id":"440e22f7-bf4a-4baf-aecd-071659d55710","name":"Decision GPT","type":"n8n-nodes-base.openAi","typeVersion":1.1,"position":[-1088,352],"credentials":{"openAiApi":{"id":"1xLpJ2tcklEPWRNT","name":"OpenAi account"}}},{"parameters":{"value1":"={{ JSON.parse($json.message.content.replace(/```json|```/gi, '')).decision }}","rules":{"rules":[{"operation":"contains","value2":"NEW_ARTICLE"},{"operation":"contains","value2":"NEW_REVIEW"}]}},"id":"b6325a86-d8d3-484b-ab96-8fb87cb4e320","name":"Decision Switch","type":"n8n-nodes-base.switch","typeVersion":2,"position":[-896,352]},{"parameters":{"dataTableId":{"__rl":true,"mode":"id","value":"TpOOtLzfYKrCLPKW"},"columns":{"mappingMode":"defineBelow","value":{"reddit_id":"={{ JSON.parse($node['Decision GPT'].json.message.content.replace(/```json|```/gi, '')).reddit_id }}"}},"options":{}},"id":"a95cfc77-ee66-4fe7-996b-9a13195bf8c0","name":"Mark Article Processed","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-688,240]},{"parameters":{"dataTableId":{"__rl":true,"mode":"id","value":"TpOOtLzfYKrCLPKW"},"columns":{"mappingMode":"defineBelow","value":{"reddit_id":"={{ JSON.parse($node['Decision GPT'].json.message.content.replace(/```json|```/gi, '')).reddit_id }}"}},"options":{}},"id":"e8d25386-03cc-4d09-a134-ee392c85a7a8","name":"Mark Review Processed","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-688,448]},{"parameters":{"resource":"image","prompt":"=Generate a hyper-realistic, professional photograph for a technical van life/RV and solar energy blog. Subject: {{ JSON.parse($node['Decision GPT'].json.message.content.replace(/```json|```/gi, '')).title }}. CRITICAL: The image must NOT contain any text, words, letters, signatures, or watermarks. Focus only on the visual hardware or lifestyle scene.","options":{},"requestOptions":{}},"id":"ed134bd3-926c-48e2-b1f2-09a9d128b292","name":"DALL-E 3 Image","type":"n8n-nodes-base.openAi","typeVersion":1.1,"position":[-496,240],"credentials":{"openAiApi":{"id":"1xLpJ2tcklEPWRNT","name":"OpenAi account"}}},{"parameters":{"resource":"chat","prompt":{"messages":[{"content":"=Write a comprehensive, technical article in PERFECT ENGLISH of approximately 1500 words. \nSTYLE REQUIREMENTS:\n1. Use numbered H2 and H3 headings (e.g., 1. Introduction, 2. Technical Specs).\n2. Use <b> or <strong> tags for all technical specifications and key metrics.\n3. Include at least one HTML <table> for technical comparisons or data breakdown.\n4. Tone: Authoritative, data-driven, and highly practical for DIY off-grid enthusiasts.\n5. Formatting: Use clean HTML (h2, h3, p, ul, table). No <html> or <body> tags.\n\nTitle: {{ JSON.parse($node['Decision GPT'].json.message.content.replace(/```json|```/gi, '')).title }}\nContext: {{ JSON.parse($node['Decision GPT'].json.message.content.replace(/```json|```/gi, '')).excerpt }}\n6. STYLE RULE: NEVER use em-dashes (—). Instead, use commas for natural flow or parentheses for technical asides to ensure a human-like tone."}]},"options":{},"requestOptions":{}},"id":"02f5e04d-e775-405f-ab7e-5ee386b7ce63","name":"Article Writer GPT","type":"n8n-nodes-base.openAi","typeVersion":1.1,"position":[-288,240],"credentials":{"openAiApi":{"id":"1xLpJ2tcklEPWRNT","name":"OpenAi account"}}},{"parameters":{"url":"https://api.unsplash.com/search/photos","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"rv solar"},{"name":"per_page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Client-ID Q6bg7e5qSENBVdn_CC99NO6lDk5HndYaTRKx7M21sew"}]},"options":{}},"id":"00b777ac-e305-41a0-86a4-b21b354a10ad","name":"Unsplash Real Photo","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-496,448]},{"parameters":{"resource":"chat","prompt":{"messages":[{"content":"=Write an objective, data-rich product review in PERFECT ENGLISH of approximately 1500 words.\nSTYLE REQUIREMENTS:\n1. Use numbered H2 and H3 headings.\n2. Include a detailed comparison <table> using standard HTML tags.\n3. Bold all technical values and units (e.g., **200Ah**, **12V**, **MPPT**).\n4. Include a 'Pros & Cons' bulleted list.\n5. Tone: Technical expert reviewing hardware for vanlife/solar utility.\n\nTitle: {{ JSON.parse($node['Decision GPT'].json.message.content.replace(/```json|```/gi, '')).title }}\nContext: {{ JSON.parse($node['Decision GPT'].json.message.content.replace(/```json|```/gi, '')).excerpt }}\n6. STYLE RULE: NEVER use em-dashes (—). Instead, use commas for natural flow or parentheses for technical asides to ensure a human-like tone."}]},"options":{},"requestOptions":{}},"id":"a77b1361-8ff3-485b-97fc-97af5b30dbfe","name":"Review Writer GPT","type":"n8n-nodes-base.openAi","typeVersion":1.1,"position":[-288,448],"credentials":{"openAiApi":{"id":"1xLpJ2tcklEPWRNT","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://solarrv.tech/api/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"ebdc20f1-ac29-4aba-abf4-eb1e1fa4dad4","name":"Create Article Draft","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-96,240]},{"parameters":{"method":"POST","url":"https://solarrv.tech/api/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"defineBelow","options":{}},"id":"7fa89429-2356-4d05-bd1a-2cc1b16e921d","name":"Create Review Draft","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-96,448]},{"parameters":{"fromEmail":"solarrv-bot@solarrv.tech","toEmail":"marcosgomezcortes7@gmail.com","subject":"={{ '🚀 [AI READY] Approval Needed: ' + JSON.parse($node['Decision GPT'].json.message.content.replace(/```json|```/gi, '')).title }}","html":"={{ \"<div style='font-family: sans-serif; max-width: 600px; margin: auto; border: 1px solid #eee; border-radius: 15px; overflow: hidden; box-shadow: 0 4px 10px rgba(0,0,0,0.05);'><div style='background: #0f172a; padding: 30px; text-align: center; color: white;'><h1 style='margin: 0; font-size: 24px;'>🚐 SolarRV AI Publisher</h1><p style='opacity: 0.7; margin: 10px 0 0 0;'>New AI content ready</p></div><div style='padding: 30px;'><img src='\" + $json.imageUrl + \"' style='width: 100%; border-radius: 10px; margin-bottom: 20px;' alt='Post Cover' /><h2 style='margin: 0 0 10px 0; color: #1e293b;'>\" + $json.title + \"</h2><p style='color: #64748b; line-height: 1.6; margin-bottom: 30px;'>\" + $json.excerpt + \"</p><div style='text-align: center; padding: 20px 0;'><a href='https://n8n.187.124.172.149.sslip.io/webhook/approve-solar-post?action=approve&id=\" + $json.id + \"' style='background: #f97316; color: white; padding: 15px 30px; border-radius: 10px; text-decoration: none; font-weight: bold; display: inline-block; margin: 5px;'>✅ APPROVE & PUBLISH</a><a href='https://n8n.187.124.172.149.sslip.io/webhook/approve-solar-post?action=reject&id=\" + $json.id + \"' style='background: #f1f5f9; color: #64748b; padding: 15px 30px; border-radius: 10px; text-decoration: none; font-weight: bold; display: inline-block; margin: 5px; border: 1px solid #e2e8f0;'>❌ DISCARD</a></div><p style='font-size: 11px; color: #94a3b8; text-align: center; margin-top: 30px;'>Generated by SolarRV Engine v3 AI.</p></div></div>\" }}","options":{}},"id":"a4984a14-d935-41c8-a831-b84c391c0e54","name":"Send Approval Email One Click","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[112,352],"credentials":{"smtp":{"id":"VdUwRrCtg6lQnDEd","name":"SMTP account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Reddit Data","type":"main","index":0}]]},"Get Reddit Data":{"main":[[{"node":"Get History","type":"main","index":0}]]},"Get History":{"main":[[{"node":"Filter New Posts","type":"main","index":0}]]},"Filter New Posts":{"main":[[{"node":"Decision GPT","type":"main","index":0}]]},"Decision GPT":{"main":[[{"node":"Decision Switch","type":"main","index":0}]]},"Decision Switch":{"main":[[{"node":"Mark Article Processed","type":"main","index":0}],[{"node":"Mark Review Processed","type":"main","index":0}]]},"Mark Article Processed":{"main":[[{"node":"DALL-E 3 Image","type":"main","index":0}]]},"Mark Review Processed":{"main":[[{"node":"Unsplash Real Photo","type":"main","index":0}]]},"DALL-E 3 Image":{"main":[[{"node":"Article Writer GPT","type":"main","index":0}]]},"Article Writer GPT":{"main":[[{"node":"Create Article Draft","type":"main","index":0}]]},"Unsplash Real Photo":{"main":[[{"node":"Review Writer GPT","type":"main","index":0}]]},"Review Writer GPT":{"main":[[{"node":"Create Review Draft","type":"main","index":0}]]},"Create Article Draft":{"main":[[{"node":"Send Approval Email One Click","type":"main","index":0}]]},"Create Review Draft":{"main":[[{"node":"Send Approval Email One Click","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"}}